﻿@model FizzBuzz.MVC.Web.ViewModels.FizzBuzzModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "FizzBuzz";
}
<a href="/Home/Index" role="button">Back</a>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        @foreach (var number in Model.Result)
        {
            if (number == "Fizz")
            {
                <div style="color:blue">@number</div>
            }
            else if (number == "Buzz")
            {
                <div style="color:green">@number</div>
            }
            else if (number == "FizzBuzz")
            {
                <div>
                    <span class="fizz">Fizz</span><span class="buzz">Buzz</span>
                </div>
            }
            else
            {
                <div>@number</div>
            }
            <br />
        }
    </div>
</div>
@(Model.Result.PageCount < Model.Result.PageNumber ? 0 : Model.Result.PageNumber) of @Model.Result.PageCount
@Html.PagedListPager(Model.Result, page => Url.Action("FizzBuzz",
    new { value = @Model.Number, page }))
