﻿@model FizzBuzz.MVC.Web.ViewModels.FizzBuzzModel
@{
    ViewBag.Title = "FizzBuzz";
}

<h2>FizzBuzz</h2>
@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Number)
    @Html.EditorFor(m => m.Number)
    @Html.ValidationMessageFor(m => m.Number)
    <input type="submit" value="Check" />
}

